<div class="buttons">
    <a href="them">
        <button type="button" class="btn btn-primary">thêm</button>
    </a>
    <a href="danhsach">
        <button type="button" class="btn btn-danger">danh sách</button>
    </a>
    <!--    <button type="button" class="btn btn-warning">warning style</button>-->
</div>
<style>
    .buttons {
        margin-top: 100px;
    }
</style>