
<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
    <div class="container"><a class="navbar-brand" style="color:#21a9af;" href="#"><img style="width:130px;" src="img/1.png"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse float-end d-inline-flex flex-row justify-content-end align-items-end" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" style="color:#a2a7ab;margin-right:15px;font-size:14px;" href="#">Categorias</a></li>
            </ul><span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" style="width:120px;font-size:14px;margin-right:15px;border:1px solid #01a982;color:#01a982;font-family:'Source Sans Pro', sans-serif;" href="#">Login</a><a class="btn btn-light action-button" role="button" style="width:120px;font-size:14px;background-color:#01a982;border:1px solid #01a982;font-family:'Source Sans Pro', sans-serif;font-weight:400;" href="login.handlebars">Sig Up</a>
            <ul class="navbar-nav"></ul>
        </div>
    </div>
</nav>
<section class="highlight-blue">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Highlight</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="friend">Primary</a></div>
    </div>
</section>
<section class="team-grid"></section>
<div class="container">
    <section class="team-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="img/1.jpg">
                    <h3 class="name">Ben Johnson</h3>
                    <p class="title">Musician</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="img/andrew.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="img/4.jpg">
                    <h3 class="name">Carl Kent</h3>
                    <p class="title">Stylist</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 item social"><img class="img-fluid footer-logo" src="img/1.png">
                    <p class="text-center footer-logo-text">Vânzare echipamente IT și accesorii, service IT și mentenanță, vânzare <br>echipamente de supraveghere, vânzare aparatură electrocasnică.</p>
                </div>
                <div class="col-sm-4 col-md-3 item-srv">
                    <h3>Contul meu</h3>
                    <ul>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=product/manufacturer">Producători</a></li>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=account/voucher">Vouchere cadou</a></li>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=affiliate/login">Afiliați</a></li>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=product/special">Oferte speciale</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item-srv">
                    <h3>Informaţii</h3>
                    <ul>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=information/information&amp;information_id=6">Livrare</a></li>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=information/information&amp;information_id=3">Politica de confidențialitate</a></li>
                        <li><a href="https://ultimatecomputers.ro/shop/index.php?route=information/information&amp;information_id=5">Termeni și condiții</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Despre noi</h3>
                    <ul>
                        <li class="despre-noi"><i class="fa fa-home despre-noi"></i>&nbsp;Splaiul Corneliu Coposu, Nr.3, Lugoj</li>
                        <li class="despre-noi"><i class="fa fa-envelope despre-noi"></i>&nbsp;Email: contact@ultimatecomputers.ro</li>
                        <li class="despre-noi"><i class="fa fa-phone despre-noi"></i>&nbsp;Telefon: 0722 364 429</li>
                    </ul>
                    <ul></ul>
                </div>
            </div>
        </div>
    </footer>
</div>
